<nav class="navbar navbar-expand-lg {{ site.data.theme.navbar-color  | default: 'navbar-dark' }} {{ site.data.theme.navbar-background | default: 'bg-dark' }}">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#page-nav" aria-controls="page-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <span class="d-lg-none text-right">
            <a href="{{ site.organization-link }}" target="_blank" rel="noopener">
                <img class="img-fluid" id="mobile-nav-image" src="{{ site.organization-logo-nav | relative_url }}" title="{{ site.organization-name }}" alt="{{ site.organization-name }} home" >
            </a>
        </span>

        <div class="collapse navbar-collapse" id="page-nav">
            <ul class="navbar-nav mr-auto">
                {%- assign navItems = site.data.config-nav | where_exp: 'item', 'item.dropdown_parent == nil' -%} 
                {% for nav in navItems %}
                {% if nav.stub %}
                <li class="nav-item {% if page.url == nav.stub %}active{% endif %}">
                    <a class="nav-link " href="{{ nav.stub | relative_url }}">{{ nav.display_name }}</a>
                </li>
                {%- else -%}
                <li class="nav-item dropdown">
                    {% assign navChildren = site.data.config-nav | where_exp: 'item', 'item.dropdown_parent == nav.display_name' %}
                    {%- assign childStubs = navChildren | map: 'stub' -%}
                    <a class="nav-link  dropdown-toggle{% if childStubs contains page.url %} active{% endif %}" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ nav.display_name }}</a>
                    <div class="dropdown-menu">
                        {% for c in navChildren %}
                        <a class="dropdown-item {% if page.url == c.stub %}active{% endif %}" href="{{ c.stub | relative_url }}">{{ c.display_name }}</a>
                        {% endfor %}
                    </div>
                </li>
                {% endif %}
                {%- endfor -%}
            </ul>
            <!-- test start-->
            <!-- Button trigger modal -->
<button type="button" class="btn btn-outline-info float-right" data-toggle="modal" data-target="#operators">Search Options</button>
<!-- Modal -->
<div class="modal fade" id="operators" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Lunr Search Options</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p>These advanced options can be added to your query in the search box to refine your results:</p> 
                <ul>
                    <li>Search a specific field: use the field name, colon, then your query, e.g. <code>artist:Bales</code>, <code>title:foo</code>, <code>date:1911</code>, <code>subject:tree</code>. In this collection you can use {{ fields | join: ", " }}.</li>
                    <li>Wildcards: add <code>*</code> to match any character(s), e.g. <code>foo*</code>, <code>*oo</code>. This is helpful for using a root to find words with all related endings.</li>
                    <li>Fuzzy match: add <code>~</code> plus a number at the end of your query to specify a higher level of fuzziness in search, e.g. <code>foo~1</code>. This can help with misspellings.</li>
                    <li>Boost term: add <code>^</code> plus a number to boost the relevance of a term in your query, e.g. <code>foo^10</code>. This can help reduce clutter of unrelated results if one of your terms is most important.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--test end-->
            {% include nav-search-lunr.html %}
        </div>
    </div>    
</nav>
