<!-- Library Branding and Links -->
<footer class="bg-dark pt-4 container-fluid>
<div class="footer-library-branding" >
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<a href="https://library.okstate.edu">
					<img src="https://treaties.okstate.edu/template-files/kapplers/images/library-logo.png"  class="img-responsive" alt="Oklahoma State University Library">
				</a>
				<div class="contact-info">
					
					<address class="library-contact-info" style ="color:rgb(255,255,255);">
						405-744-6321 |
						<a href="mailto:libraryhelp@okstate.edu" style ="color:rgb(250,100,0);">libraryhelp@okstate.edu</a>
					</address>
				</div>
					
			</div>
			<div class="col-sm-6">
				<div class="row">
					<div class="col-sm-12">
						<p class="library-menu-header" p style ="color:rgb(250, 100, 0);">Library Resources</p>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<nav  class="library-menu">
							<ul class="list-unstyled   footer-menus">
								<li><a href="https://library.okstate.edu/search-and-find/collections/digital-collections/" style ="color:rgb(255,255,255);">Digital Collections</a></li>
								<li><a href="https://library.okstate.edu/search-and-find/collections/map-collections" style ="color:rgb(255,255,255);">Maps Collections</a></li>
								<li><a href="https://library.okstate.edu/search-and-find/collections/oral-history-collections" style ="color:rgb(255,255,255);">Oral History Collections</a></li>
							</ul>
						</nav>
					</div>
					<div class="col-sm-6">
						<nav class="library-menu  footer-menus">
							<ul class="list-unstyled">
								<li><a href="https://library.okstate.edu/about/locations/departments/special-collections/government-documents/" style ="color:rgb(255,255,255);">Government Documents</a></li>
								<li><a href="https://archives.library.okstate.edu/" style ="color:rgb(255,255,255);">Archives</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- University Branding and Links -->
<div class="footer-university-branding" >
    <div class="container footer-unversity-info">
        <hr style="border-top: 1px dotted #666;">
        <div class="row">
            <div class=" col-xs-5">
                <a href="//go.okstate.edu" style= "color:rgb(250, 100, 0);">Oklahoma State University</a>
            </div>
            <div class="col-xs-7 offset-3 inner" style="padding-bottom:25px;color:rgb(255,255,255)">
                <span class="copyright">
                    © <script type="text/javascript">var year = new Date();document.write(year.getFullYear());</script> Oklahoma State University Libraries. All rights reserved.
                </span> 
            </div>
        </div>
    </div>
</div>
</footer>